.filter-container{
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
}

.category-container ul {
    display: flex;
    gap: 0.5rem;
}

.column-wrap ul {
    grid-template-columns: repeat(9, 1fr);
}

.data.content { grid-template-columns: repeat(9, 1fr); }

.button-14 { width: 80%; }
/* MENU */
.btn-menu {
    color: white;
    background-color: var(--color-sub-1);
}
/* EDIT */
.btn-edit { background-color: var(--color-bg-2); }

/* DELETE */
.btn-delete { 
    font-size: 16px;
    color: white;
    background-color: var(--color-sub-2); 
}

.page-container {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container ul{
    display: flex;
    gap: 2rem;
}