.button {
    border: none;
    border-radius: var(--border-radius);
    background-color: transparent;

    width: 100%;
    height: 40px;
    padding: 0;

    cursor: pointer !important;
    transition: 0.3s;
}

.button-1 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: var(--color-sub-1);

    cursor: pointer;

    transition: 0.3s;
}
.button-1:hover:not(:disabled) { filter: brightness(0.9); }
.button-1:disabled {
    background-color: var(--color-btn-1);
    cursor: not-allowed !important;
}

.button-2 {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--box-color);
}
.button-3 {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--main-color);
}
.button-4 {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--main-color);
    height: 52px;
}
.button-5 {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--box-color);
    height: 52px;
}
.button-6 {
    font-size: 14px;
    text-align: center;
    background-color: var(--box-color);
    border-radius: var(--border-radius);

    /* layout */
    line-height: 30px;
    
    cursor: pointer;
}
.button-7 {
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    background-color: var(--main-color);
}
.button-8 {
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    color: #F00;
    background-color: #FFE8E8;
    border: 1.5px solid #F00;
}
.button-8:hover{
    filter: brightness(0.9);
}
.button-9 {
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    background-color: var(--box-color);
}
.button-9:hover {
    filter: brightness(0.9);
}
.button-10 {
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #75757525;
    
    width: 80px;
}
.button-10:hover {
    /* box-shadow: var(--btn-shadow-2); */
}
.button-11 {
    font-size: 16px;
    background-color: var(--box-color);
    width: 70px;
    height: 28px;
}
.button-11:hover {
    filter: brightness(0.9);
}
.button-12 {
    font-size: 16px;
    background-color: var(--box-color);
}
.button-12:hover {
    filter: brightness(0.9);
}

/* 관리자 페이지 (식당, 메뉴..) 추가 버튼 */
.button-13 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1em;
    background-color: var(--color-main);
    
    height: fit-content;
    width: fit-content;
    padding: 2px;
}
.button-13:hover { filter: brightness(0.9); }

/* 관리자 페이지 (메뉴, 편집, 삭제, ...) 버튼*/
.button-14 { height: 25px; }
.button-14:hover { filter: brightness(0.9); }