.form-section {
    display: flex;
    justify-content: center;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

.form-wrap { margin-bottom: 20px; }

label {
    display: block;

    font-weight: bold;

    margin-left: 5px;
    margin-bottom: 8px;
}

input {
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--color-bg-2);

    box-sizing: border-box;
    height: 40px;
    padding: 0 15px;
}


.input-wrap {
    display: flex;
    gap: 11px;
}
.input-wrap input { flex: 1; }

.btn-submit { margin-top: 20px; }